<div class="jumbotron text-center">
    <h1>Hype</h1>
    <p class="lead">Carry your hype-squad with you</p>
    
    <h4>Hype reminds you of your awesomeness, when you need it the most</h4>
    </div>
    
