<% provide(:title, "Add Props") %>

    
<h1>Add Props</h1>
<p>Hype was created to fulfil the need for human validation, now more so than ever due to the 2020 covid-19 pandemic</p>
<p>Enter a prop for yourself!</p>
<center><img href="https://imgflip.com/i/4ej8as"><img src="https://i.imgflip.com/4ej8as.jpg" title="Bernie's all praise for ya"/></img>
</center>
<p>If you like this, ping the creator and let them know. No reason we can't have props outside of this!</p>
