@import "bootstrap-sprockets";
@import "bootstrap";

/*universal*/

body{
   
}
/*header*/


/*typography*/
.jumbotron{
    margin: 100px;
    padding: 10%;
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  

}

h1,p {
    text-align: center;
}

form{
    margin-top: 80px;
    left: 40px;
    right: 40px;
}